<div class="quiz quiz--teaser" style="--branche-color: {{ theme_color }}">
    <div class="quiz--teaser--header">
        <h2 class="quiz--teaser--title">
            {{ content.title }}
        </h2>
    </div>
    <div class="quiz--teaser--props">
        <p>
            {{ content.field_branche }}
        </p>
        {{ content.field_class }}
        <div class="quiz--teaser--actions">
            {{ content.take }}
            {{ content.show }}
        </div>
    </div>

</div>